<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serial Monitor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/terminal.css') }}"
    />
</head>
<body>
    <div id=container>
      <h1>Serial Monitor Data</h1>  
      <h3 id="rep"></h3>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>